# CONDITIONAL STATEMENTS
Q1: Write a python program to check whether the given number is even or odd

Q2: Write a Python program to guess a number between 1 to 9 using elif

Q3: Write a Python program to count the number of even and odd numbers from a series of numbers

Q4: Write an if statement that asks for the user's name via the input() function. If the name is "Bond" make
it print "Welcome on bond 007." Otherwise, make it print "Good morning NAME". (Replace Name with
user's name)

Q5: Write a python program that accepts the 4 inputs from the user save them to a variable and Find the
largest number using and keyword

Q6:Convert the below englist statement into code : values should be accepted from user If you got more
than 50% marks in physics you will get new cycle

Q7: Convert the below englist statement into code : values should be accepted from user If you got more
than 60% marks in maths then you will get new cycle else no pocket money

Q8: Convert the below englist statement into code : values should be accepted from user If you got more
than 80% marks in maths, and more than or equal to 70% marks in science and more than or equal to
90% marks in English then you will get an ipad [NOTE: MAKE SURE THERE SHOULD BE ONE else
Statement with each if statement with proper indentation]
# LOOPS
Q1: using for loop and range()
1) Print 0-10
2) Print hello world 5 times
3) Print 2-20
4) Print 5-55 in steps of 10

Q2:Create one list and iterate over the list using for,len and range

Q3:Create a list fruits store apple,banana,grapes,oranges using for loop iterate and when it reaches to a
banana if shoud print banana is available

Q4: Convert the below english statement into code : values should be accepted from user If you got more
than 60% marks overall I will give you salute five times(means we should print salute five times)else I will
punish you five times(means we should print punishment five times)

Q5: Convert the below englist statement into code : values should be accepted from user If you got more
than 80% marks in maths, and more than or equal to 70% marks in science and more than or equal to
90% marks in English then I will salute you as many times you want(means program should print
whatever time user will say)
[NOTE: MAKE SURE THERE SHOULD BE ONE else Statement with each if statement with proper
indentation] Q6: Using for loop and range function print 0 – 100 but break the loop if it reaches 12

Q7: Using for loop and range function print 0 – 10 but it shouldn’t print 7

Q8: Create a list of names and iterate over them and print the index and item present at that particular
index

Q9 : From a range of numbers iterate over that range print which one is even and which one is odd

# FUCTIONS
Q1: Create a function and the functionality should be it should print “Hello caller”
Call this function multiple times

Q2: Create a function which accept one variable(parameter) and print its value

Q3: Create a function which accepts one variable and checks whether its even or odd

Q4: Create a function which accept two values and prints which one is larger value

Q5: Create a function which accept two values and prints which one is smaller value

Q6: Create a function which can accept any number of parameters

Q7: Create a function which will accept a list and functionality of the function should be it should iterate
over the list and print all the elements with there respective indexes

Q8: Create a function which will have default parameters and doesn’t give error when we don’t pass the
parameters Q9: Create a function which can find the largest item inside the list

Q10: Create a function which a print all even and odd number over a specified range

Answer- 1

Q1: Write a python program to check whether the given number is even or odd

In [9]:
n=int(input("enter the number: "))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter the number: 3
odd

Q2. Write a python program to guess a number between 1 to 9 using elif

In [27]:
n = input("enter a number: ")

if (n > "1"):
    print("well guess")
    
elif (n < "10"):
    print("wrong guess")

enter a number: 9
well guess

Q3: Write a Python program to count the number of even and odd numbers from a series of numbers

In [33]:
i = 9
while i <20:
    i = i+1
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

Q4: Write an if statement that asks for the user's name via the input() function. If the name is "Bond" make
it print "Welcome on bond 007." Otherwise, make it print "Good morning NAME". (Replace Name with
user's name)

In [34]:
name = input('name :')
if "Bond" in name:
    print("welcome on bond 007")
else:
    print("good morning bond")

name :bond
good morning bond

Q5: Write a python program that accepts the 4 inputs from the user save them to a variable and Find the
largest number using and keyword

In [36]:
A = input('enter the number :')
B = input('enter the number :')
C = input('enter the number :')
D = input('enter the number :')

if A>B and A>C and A>D:
    print("A is largest")
elif B>A and B>C and B>D:
        print("B is largest")
elif C>A and C>B and C>D :
            print("C is largest")
else :
    print("D is largest ")

enter the number :9
enter the number :5
enter the number :2
enter the number :4
A is largest

Q6:Convert the below englist statement into code : values should be accepted from user If you got more
than 50% marks in physics you will get new cycle

Q7: Convert the below englist statement into code : values should be accepted from user If you got more
than 60% marks in maths then you will get new cycle else no pocket money

Q8: Convert the below englist statement into code : values should be accepted from user If you got more
than 80% marks in maths, and more than or equal to 70% marks in science and more than or equal to
90% marks in English then you will get an ipad [NOTE: MAKE SURE THERE SHOULD BE ONE else
Statement with each if statement with proper indentation]

Q6:Convert the below englist statement into code : values should be accepted from user If you got more
than 50% marks in physics you will get new cycle

In [43]:
marks = input("enter a physics marks: ")

if(marks > "50%"):
    print("get new cycle")
    
elif(marks < "50%"):
    print("no cycle")

enter a physics marks: 55
get new cycle

In [42]:
marks = input("enter a physics marks: ")

if(marks > "50%"):
    print("get new cycle")
    
elif(marks < "50%"):
    print("no cycle")

enter a physics marks: 45
no cycle

Q7: Convert the below englist statement into code : values should be accepted from user If you got more
than 60% marks in maths then you will get new cycle else no pocket money

In [44]:
marks = input("enter a english marks: ")

if(marks > "60%"):
    print("get new cycle")
    
elif(marks < "60%"):
    print("no pocket money")

enter a maths marks: 65
get new cycle

Q8: Convert the below englist statement into code : values should be accepted from user If you got more
than 80% marks in maths, and more than or equal to 70% marks in science and more than or equal to
90% marks in English then you will get an ipad [NOTE: MAKE SURE THERE SHOULD BE ONE else
Statement with each if statement with proper indentation]

In [77]:
marks = input(" enter a marks: ")

if(marks > "80%"):
    print("get an ipad")
    
elif(marks <= "70%"):
    print("get an ipad")

elif(marks <= "90%"):
    print("get an ipad")

else:
    ("no ipad")

enter a marks: 70%
get an ipad

# LOOPS

Answer-1

# LOOPS
Q1: using for loop and range()
1) Print 0-10
2) Print hello world 5 times
3) Print 2-20
4) Print 5-55 in steps of 10

Q2:Create one list and iterate over the list using for,len and range

Q3:Create a list fruits store apple,banana,grapes,oranges using for loop iterate and when it reaches to a
banana if shoud print banana is available

Q4: Convert the below english statement into code : values should be accepted from user If you got more
than 60% marks overall I will give you salute five times(means we should print salute five times)else I will
punish you five times(means we should print punishment five times)

Q5: Convert the below englist statement into code : values should be accepted from user If you got more
than 80% marks in maths, and more than or equal to 70% marks in science and more than or equal to
90% marks in English then I will salute you as many times you want(means program should print
whatever time user will say)
[NOTE: MAKE SURE THERE SHOULD BE ONE else Statement with each if statement with proper
indentation]

Q6: Using for loop and range function print 0 – 100 but break the loop if it reaches 12

Q7: Using for loop and range function print 0 – 10 but it shouldn’t print 7

Q8: Create a list of names and iterate over them and print the index and item present at that particular
index

Q9 : From a range of numbers iterate over that range print which one is even and which one is odd

Q1: using for loop and range()
1) Print 0-10

In [11]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

(2) Print hello world 5 times

In [75]:
for i in range(5):
    print('Hello world')

Hello world
Hello world
Hello world
Hello world
Hello world

In [26]:
n=["hello world"]

for i in n:
    
    print(n*5)

['hello world', 'hello world', 'hello world', 'hello world', 'hello world']

(3) Print 2-20

In [28]:
for i in range(2,21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

(4) Print 5-55 in steps of 10

In [29]:
for i in range(5,55,10):
    print(i)

5
15
25
35
45

Q2:Create one list and iterate over the list using for,len and range

In [86]:
l = [9,12,45,25,85,45,26]

for i in l :
    print(i)
len(l)

9
12
45
25
85
45
26

7

Q3:Create a list fruits store apple,banana,grapes,oranges using for loop iterate and when it reaches to a
banana if shoud print banana is available

In [102]:
fruit = [ "apple", "banana", "grapes", "oranges" ]

for i in fruit:
    
    if(i == "banana"):
        print("banana is available")
    print(i)

apple
banana is available
banana
grapes
oranges

Q4: Convert the below english statement into code : values should be accepted from user If you got more
than 60% marks overall I will give you salute five times(means we should print salute five times)else I will
punish you five times(means we should print punishment five times)

Q5: Convert the below englist statement into code : values should be accepted from user If you got more
than 80% marks in maths, and more than or equal to 70% marks in science and more than or equal to
90% marks in English then I will salute you as many times you want(means program should print
whatever time user will say)
[NOTE: MAKE SURE THERE SHOULD BE ONE else Statement with each if statement with proper
indentation]

In [ ]:
Q4: Convert the below english statement into code : values should be accepted from user If you got more
than 60% marks overall I will give you salute five times(means we should print salute five times)else I will
punish you five times(means we should print punishment five times)

In [152]:
marks = input("enter a marks: ")

for i in range (5):
        
    if(marks <= "60%"):
        print("salute")
           
    else:
        print("punish")

enter a marks: 60%
salute
salute
salute
salute
salute

In [ ]:
Q6: Using for loop and range function print 0 – 100 but break the loop if it reaches 12

In [109]:
for i in range(0,100):
    if i ==12 :
        break
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
Q7: Using for loop and range function print 0 – 10 but it shouldn’t print 7

In [110]:
for i in range(0,11):
    if i ==7:
        continue
    else :
        print(i)

0
1
2
3
4
5
6
8
9
10

In [ ]:
Q8: Create a list of names and iterate over them and print the index and item present at that particular
index

In [166]:
name="apple,banana,cherry,mango"

print(name[0])
print(name[6])
print(name[13])
print(name[20])

a
b
c
m

In [ ]:
Q9 : From a range of numbers iterate over that range print which one is even and which one is odd

In [128]:
for i in range(1,11):
    if i %2==0:
        print(i,'is even')
        
    else :
        print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [124]:
n = [1,2,3,4,5,6,7,8,9,10]
for i in range (11):
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
10

# FUCTIONS
Q1: Create a function and the functionality should be it should print “Hello caller”
Call this function multiple times

Q2: Create a function which accept one variable(parameter) and print its value

Q3: Create a function which accepts one variable and checks whether its even or odd

Q4: Create a function which accept two values and prints which one is larger value

Q5: Create a function which accept two values and prints which one is smaller value

Q6: Create a function which can accept any number of parameters

Q7: Create a function which will accept a list and functionality of the function should be it should iterate
over the list and print all the elements with there respective indexes

Q8: Create a function which will have default parameters and doesn’t give error when we don’t pass the
parameters Q9: Create a function which can find the largest item inside the list

Q10: Create a function which a print all even and odd number over a specified range

In [ ]:
Q1: Create a function and the functionality should be it should print “Hello caller”
Call this function multiple times

In [173]:
def call():
    for i in range(5):
        print("Hello caller")
call()

Hello caller
Hello caller
Hello caller
Hello caller
Hello caller

In [ ]:
Q2: Create a function which accept one variable(parameter) and print its value

In [2]:
def hello_to_you(name):
    print(f"hello {name}")
    
hello_to_you("amit")

hello amit

In [ ]:
Q3: Create a function which accepts one variable and checks whether its even or odd

In [132]:
def fun():
    for i in range(1,4):
        if i%2==0:
            print(i,'even')
        else:
            print(i,'odd')
fun()

1 odd
2 even
3 odd

In [ ]:
Q4: Create a function which accept two values and prints which one is larger value

In [158]:
def largest():
    a = input('entert the number :')
    b = input('entert the number :')
    if a>b:
        print('A is larger value')
    else:
        print('B is larger value')
        
largest()

entert the number :53
entert the number :4
A is larger value

In [ ]:
Q5: Create a function which accept two values and prints which one is smaller value

In [162]:
def func():
    A = input('enter the values :')
    B = input('enter the values :')
    if A<B:
        print('A is smaller value')
    else:
        print('B is smaller value')
func()

enter the values :46
enter the values :24
B is smaller value

In [ ]:
Q6: Create a function which can accept any number of parameters

In [9]:
def multiply_values(x,y):
    z=x*y
    return z
multiply_values(x=5,y=10)

50

In [ ]:
Q7: Create a function which will accept a list and functionality of the function should be it should iterate
over the list and print all the elements with there respective indexes

In [24]:
list = ["apple", "banana", 3, 4]
# getting length of list using len() function
length = len(list)

# using for loop along with range() function
for i in range(length):
    print(list[i])

apple
banana
3
4

In [ ]:
Q8: Create a function which will have default parameters and doesn’t give error when we don’t pass the
parameters

In [26]:
def take_power(integer1, integer2=2):
    result = 1
    for i in range(integer2):
        result = result * integer1

    return result

result = take_power(3)
print(result)

9

In [ ]:
Q9: Create a function which can find the largest item inside the list.

In [49]:
list1 = [4, -10, 8, 12, -1]

def max_value_in_List():
    for i in range():
        print(i)
        
maxValue = max(list1)

print(maxValue)

12

In [ ]:
Q10: Create a function which a print all even and odd number over a specified range

In [168]:
def alll():
    for i in range(1,11):
        if i%2==0:
            print(i,'its even')
        else:
            print(i,'its odd')
            
alll()

1 its odd
2 its even
3 its odd
4 its even
5 its odd
6 its even
7 its odd
8 its even
9 its odd
10 its even

# Complete